<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

   <%= turbo_stream_from "projects" %>

    <h1 class="font-bold text-4xl mb-5">Projects</h1>
    <%= turbo_frame_tag "project_form" do %>
      <div class="mb-5 flex justify-start">
        <%= render 'form', project: @project %>
      </div>
    <% end %>

    <%= turbo_frame_tag "projects" do %>
      <div id="projects" class="min-w-full grid sm:grid-cols-3 grid-cols-1 gap-6">
        <%= render @projects %>
      </div>
    <% end %>

</div>
